src
node_modules
main.js
changelog.md
debug.log
install_tools.bat
license
node.exe
node_etw_provider.man
nodevars.bat
npm
npm.cmd
npx
npx.cmd
readme.md
Progetto Javascript Basics Counter di Marco Le Piane.pptx